dokumentation.acn
dokumentation.aux
dokumentation.glo
dokumentation.ist
dokumentation.lof
dokumentation.log
dokumentation.lol
dokumentation.lot
dokumentation.out
dokumentation.synctex.gz
dokumentation.toc
dokumentation.acn
dokumentation.aux
dokumentation.bbl
dokumentation.blg
dokumentation.glo
dokumentation.ist
dokumentation.lof
dokumentation.log
dokumentation.lol
dokumentation.lot
dokumentation.out
dokumentation.synctex.gz
dokumentation.toc
